
.shiny-logo {
  position: relative;
  background: linear-gradient(-45deg, 
    rgba(6, 182, 212, 0.3) 30%, 
    rgba(34, 197, 94, 0.4) 40%, 
    #00f5ff 48%,
    #24cfa6 50%, 
    #0ea5e9 52%,
    rgba(34, 197, 94, 0.4) 60%, 
    rgba(6, 182, 212, 0.3) 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s  linear infinite;
  filter: drop-shadow(0 0 10px rgba(34, 197, 94, 0.3));
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}